altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
gitdb
GitPython
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pyparsing
pytz
pillow
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
